header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-alt {
  color: #F37402;
}

.drop-down {
  color: #1A7DD7;
  cursor: pointer;
}

.drop-down:hover {
  color: #F37402;
}

.card-display {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 95%;
}

.inventory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item-card {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A7DD7;
  color: white;
  width: 100%;
  margin: 0;
}

.item-description {
  width: 80%;
  text-align: center;
}

.item-image {
  width: 100px;
}

.item-price {
  align-self: flex-end;
}

.add-btn {
  width: 100%;
  height: 20px;
  color: white;
  background: #F37402;
  cursor: pointer;
  text-align: center;
}

.history,
.cart-page {
  display: none;
  width: 25%;
}

.cart-page {
  text-align: right;
}

.cart-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-title-container h2,
.history-page h2 {
  color: #F37402;
}

.cart-card {
  display: flex;
  justify-content: space-between;
}

.order-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.order-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.order-info {
  align-self: center;
}
